In [2]:
import numpy as np

digits = np.loadtxt('digits_header.txt', delimiter='\t')

print(type(digits))

ValueError: could not convert string to float: label

In [13]:
digits = np.loadtxt('digits_header.txt', delimiter='\t', skiprows=1, usecols=[0, 2])

print(digits[:5])

[[ 1.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 4.  0.]
 [ 0.  0.]]

In [3]:
digits = np.loadtxt('digits_header.txt', delimiter='\t', skiprows=1, usecols=[0, 2])

print(digits[:5])

[[ 1.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 4.  0.]
 [ 0.  0.]]

In [6]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename: file
file = 'battledeath.xlsx'

# Load spreadsheet: xl
xl = pd.ExcelFile(file)

# Print sheet names
print(xl.sheet_names)

# Parse the first column of the second sheet and rename the column: df2
df2 = xl.parse(1, parse_cols=0, skiprows=1, names=['Country'])

# Print the head of the DataFrame df2
print(df2.head())

[u'2002', u'2004']
               Country
0              Albania
1              Algeria
2              Andorra
3               Angola
4  Antigua and Barbuda

In [8]:
import pandas as pd

data = pd.ExcelFile('battledeath.xlsx')

print(data.sheet_names)

data1 = data.parse('2004')

print(data1.head())

data1 = data.parse('2004', skiprows=1, names=['Country', 'AAM due to War (2002)'])

print(data1.head())

data1 = data.parse('2004', parse_cols=0, skiprows=1, names=['Country'])

print(data1.head())

[u'2002', u'2004']
  War(country)      2004
0  Afghanistan  9.451028
1      Albania  0.130354
2      Algeria  3.407277
3      Andorra  0.000000
4       Angola  2.597931
               Country  AAM due to War (2002)
0              Albania               0.130354
1              Algeria               3.407277
2              Andorra               0.000000
3               Angola               2.597931
4  Antigua and Barbuda               0.000000
               Country
0              Albania
1              Algeria
2              Andorra
3               Angola
4  Antigua and Barbuda

In [1]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///Chinook.sqlite')

table = engine.table_names()

print(table_names)

NameError: name 'table_names' is not defined

In [5]:
?xl.parse