In [1]:
s = 'hello'
s.rjust(7)

'  hello'

In [2]:
s.center(7)

' hello '

In [3]:
s.replace('l', '(ell)')

'he(ell)(ell)o'

In [4]:
'  world  '.strip()

'world'

In [5]:
?str.strip()

Docstring:
S.strip([chars]) -> str

Return a copy of the string S with leading and trailing
whitespace removed.
If chars is given and not None, remove characters in chars instead.
Type:      method_descriptor

In [14]:
import numpy as np
nums = np.array(range(5))
nums[2:4]=[8, 9]
nums

array([0, 1, 8, 9, 4])

In [15]:
d = {'cat': 'cute', 'dog': 'furry'}

'N/A'

In [18]:
del d['cat']
d

{'dog': 'furry'}

# Set

In [19]:
animals = {'cat', 'dog'}
type(animals)

set

In [20]:
animals.add('fish')
animals

{'cat', 'dog', 'fish'}

In [21]:
animals.remove('fish')
animals

{'cat', 'dog'}

In [22]:
animals.add('cat')
animals

{'cat', 'dog'}

# Tuple

In [23]:
t = (5, 6)
t = t + (1, 2)
t

(5, 6, 1, 2)

## Get dataframe from link

In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [23]:
url = 'http://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/weather.arff'
r = requests.get(url)
html_doc = r.text
soup = BeautifulSoup(html_doc)
html_text = StringIO(soup.get_text())
print(html_text)

<_io.StringIO object at 0x0000028EE0AF2DC8>

D:\Anaconda2\envs\py36\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file D:\Anaconda2\envs\py36\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "html.parser")

  markup_type=markup_type))

In [24]:
df1 = pd.read_csv(html_text, delimiter=',', header=2, comment='@', names=['Weather', 'Long', 'Lat', 'Correct', 'Status'])
df1.head()

    Weather  Long  Lat  Correct Status
0     rainy    70   96    False    yes
1     rainy    68   80    False    yes
2     rainy    65   70     True     no
3  overcast    64   65     True    yes
4     sunny    72   95    False     no

In [15]:
TESTDATA = StringIO("""col1;col2;col3
    1;4.4;99
    2;4.5;200
    3;4.7;65
    4;3.2;140
    """)

In [16]:
TESTDATA

# Housing Melbourne

In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind
import seaborn as sns
from sklearn.preprocessing import Imputer
%matplotlib inline
sns.set()

pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('Melbourne_housing_FULL.csv', na_values=[''], parse_dates=['Date'])
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,2016-03-09,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,2016-04-02,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [17]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [16]:
df.select_dtypes(exclude=['object']).columns

Index(['Rooms', 'Price', 'Date', 'Distance', 'Postcode', 'Bedroom2',
       'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude',
       'Longtitude', 'Propertycount'],
      dtype='object')

In [10]:
col_names = df.columns.values
col_names = np.delete(col_names, [4])
col_names

array(['Suburb', 'Address', 'Rooms', 'Type', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'], dtype=object)

In [14]:
imputer = Imputer()
df[col_names] = imputer.fit_transform(df[col_names])
df.isna().sum()

ValueError: could not convert string to float: 'Western Metropolitan'

In [1]:
a = 13

a = {{a}}